@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0px;
    display: flex;
    max-width: 1280px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #121619;
}

input:focus {
    outline: none;
}

.Toastify__toast-theme--dark{
    background: linear-gradient(225deg, #82DBF7 0%, #B6F09C 100%) !important;
    color:#121619 !important;
}